body{
    background-color: #29407c;
    color: aliceblue;
}

#louie{
    margin-left: 30px;
}

.il_madrelingua{
    display: flex;
    flex-direction: row;
    padding: 0px !important;
}



p{color: #ffffff;
    font-size: large;
    font-family: 'Sanchez', serif;

}


h1{color: #ffffff;
    font-family: 'Sanchez', serif;
}

h2{color: #ffffff;
    font-family: 'Sanchez', serif;
}

h3{color: #ffffff;
    font-family: 'Sanchez', serif;

}

